/* Font-styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');



/* ------------------
    Common Styles
------------------- */
body{
    font-family: 'Poppins', sans-serif;
}


/* Header_Parts */
.container{
    display: flex;
    margin: 5%;
}
header{

    width: 1321px;
    height: 646px;
    background-color:#161616;
    border-radius: 25px;
}
.heading-info{
    Width:531px;
    Height:424px;
}
.heading-title{
    color: #FFFFFF;
    font-size: 70px;
    font-weight: 700;
}
.heading-detail{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;


}
.live{
    background-color: #808000	;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
    padding: 12px;
    border: none;
    border-radius: 7px;
}
.fa-greater-than{
    color: #FFFFFF;
    font-size: 12px;
    margin-left: 5px;
}
.banner img{
Width:581px;
Height:613px;
margin-top: 33px;
margin-left: 3em;
}
/*------------------
     navs and articles
------------------------- */

/* asides styles */
.nav-article{
    margin-top: 2em;
}
aside{
    Width: 220px;
    Height: 250px;
    background-color:#161616;
    border-radius: 15px;
    
}
.navs{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-top: 15px;
}
.nav-button{
    width: 150px;
    height: 15px;
    background-color: #808000	;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    padding: 12px;
    border: none;
    border-radius: 7px;
    margin: 1em;
 
}

.nav-article{
    display: flex;
}
.articles{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    margin-left: 1em;
}

.blogs{
    Width:312px;
    Height:362px;
    border: 1px solid lightblue;
    border-radius: 15px;
}
.blog-image{
    Width: 312px;
    Height: 175px;
}
.blog-button{
    Width:100px;
    Height:32px;
    text-decoration: none;
    border: 1px solid purple;
    margin-left: 1em;
}
.p-article{
    margin-left: 1em;
}
.blog-detail{
    display: flex;
   
    margin-left: 1em;
}
.timing{

}
/* --------------
Footer Styles
---------------- */
footer{
    width: 1321px;
    height: 200px;
    background-color:#161616;
    border-radius: 20px;
    padding: 30px 0px;
    margin-top: 2em ;

}
.footer-title{
    color: #FFFFFF;
    text-align: center;
}
hr{
    margin-inline-start: 7%;
    margin-inline-end: 7%;
    margin-bottom: 25px;
}
.footer-nav{
    text-align: center;

}
.f-button{
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 2em;
}
/*------------------------------
        Upcoming Matches
        ----------------------------------*/
        .upcoming-matches{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-row-gap: 1em;
            grid-column-gap: 1.2em;
            margin-left: 30px;
        }
        .matches{
            width: 300px;
            height: 210px;
            border: .5px solid rgb(211, 180, 240);
            border-radius: 10px;
        }
        .vs{
            margin-left: 12px;
            margin-right: 12px;
        }
        .versus{
            display: flex;
            justify-content: center;
           align-items: center;
            margin-top: 2.5em;
        }
        .match-played{
            text-align: center;
            margin-bottom: 0%;
            margin-top: 5px;
        }
        .time-detailes{
            text-align: center;
            margin-top: 7px;
        }
        /* Special Styles */
        #up-color{
            background-color: darkcyan;
        }
        #blog-color{
            background-color: cornflowerblue;
        }

        /*---------------------
                Responsive-Divices-Styles
        -------------------*/
        
